{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
    <div class="quizzes mt-5">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="card mb-5">
                    <div class="card-img" style="max-height: 200px; max-width: 100%;">
                        <img style="max-height: 200px; max-width: 100%;" src="https://www.php.net/images/meta-image.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-header">
                        <h5 class="card-title">{{ quiz.title }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ quiz.summary ?? 'desc' }}</p>
{#                        <a href="#" class="btn btn-primary">Пройти</a>#}
                    </div>
                </div>

                <div class="questions">
                    {{ form(form) }}
                    {% for k,question in quiz.getQuestions() %}
                    <div class="card text-dark bg-light mb-3" style="">
                        <div class="card-header">Question {{ k+1 }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ question.title }}</h5>
                            <p class="card-text">{{ question.summary }}</p>
                            <div class="answers">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Default radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Default checked radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
