{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
    <div class="quizzes mt-5">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="card mb-5">
                    <div class="card-img" style="max-height: 200px; max-width: 100%;">
                        <img style="max-height: 200px; max-width: 100%;" src="https://www.php.net/images/meta-image.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-header">
                        <h5 class="card-title text-center">{{ quiz.title }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ quiz.summary ?? 'summary' }}</p>
                        <p class="card-text">{{ quiz.description ?? 'description' }}</p>
                        <a href="{{ path('app_quiz_questions', {'quiz': quiz.id}) }}" class="btn btn-outline-primary">Пройти</a>
                    </div>
                </div>

                <div class="card mb-5 candidates">
                    <div class="card-header">
                        <h5 class="card-title text-center">Top candidates</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Questions count</th>
                                <th scope="col">Answered</th>
                                <th scope="col">Score</th>
                                <th scope="col">Пройден</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k,result in quiz.quizResults() %}
                                <tr>
                                    <th scope="row">{{ result.id }}</th>
                                    <td>{{ result.getUser().getFirstName() ?? 'Guest' }}</td>
                                    <td>{{ result.getUser().getLastName() ?? 'Guest' }}</td>
                                    <td>{{ result.getAnswersCount() }}</td>
                                    <td>{{ result.getCorrectAnswersCount() }}</td>
                                    <td>{{ result.getScore() }}</td>
                                    <td>{{ result.getCreatedAt()|date('d-m-Y H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
